/* .card-w-h{
    height:175px;
    width: 300px
} */
.example-card {
max-width: 398px;
width: 174px;
float: left;
margin-left: 19px;
margin-top: 6px;
margin-bottom: 4px;
}

.imgSize{
  height: 250px;
  width: 200px;
}

._sidenav{
  float: left;
  width: 195px;
height: 100%;
  margin-top: 40px;
  
}
/* mat-paginator{margin: 5px !important;}

 .gridHeight{
    height: 790px !important;
    background-color: beige;
}  */
.h{
  height: 650px !important;
}
/* .pagination{
  position: fixed;
float: right;
  bottom: 0px;
  margin-top: 2px;
  text-align: center;
} */