.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout.
        position: fixed; */
    flex: 1 1 auto;
  }
  /* .mat-toolbar{
    left: 0;
     top: 0px;
     margin-bottom: 2px;
     position: fixed;
  } */
  .mat-toolbar{
    position: fixed; 
   left: 0;
    top: 0px;
    margin-bottom: 2px;
    z-index: 9;
 }