.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout.
        position: fixed; */
    flex: 1 1 auto;
  }
  .mat-toolbar{
   
     top: 0px;
     bottom: 2px;
  }