<!-- <mat-card>
    <mat-card-content>
        <form [formGroup]="updateForm" (ngSubmit)="onUpdateSubmit()" >
          <div>
          <img src="./../../../assets/image/samsung1.jpeg" class="img-w-h-v" >
        </div>
          <div class=".example-form">
                <mat-form-field class="example-full-width " >
                    <input matInput placeholder="category" formControlName='fullname' name="fullname">
                  </mat-form-field>
              <mat-form-field class="example-full-width " >
                <input matInput placeholder="name" formControlName='name' name="name">
              </mat-form-field>
               <mat-form-field class="example-full-width " >
                <input matInput placeholder="price" formControlName='price' name="price">
              </mat-form-field>
              <mat-form-field class="example-full-width " >
                  <input matInput placeholder="count" formControlName='count' name="count">
                </mat-form-field>
              <mat-form-field class="example-full-width " >
                  <textarea matInput placeholder="Description" formControlName='description' name="description"></textarea>
                </mat-form-field>
              <button mat-raised-button color="primary">update</button>
            </div>
          </form>
    </mat-card-content>
  </mat-card> -->