.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .img-w-h{
    width: 90px;
    height: 90px;
   
}
.btn-w{
  float: left;
  width: 88px;

}
.example-table{
  width: 500px;

}
.example-table td{
  padding: 10px;
  vertical-align: top;

}
.cnfbtn{
  margin: 3px;
  width: 25px;
}
.s-img-w-h{
  width: 60px;
  height: 60px;
  
}